.tablo-ana {
  border-radius: 0.5rem;
  background-color: rgba(44, 133, 197, 0.4);
  font-weight: bold;
}

.baslik-ana {
  border-width: 0.25rem;
  border-radius: 1rem !important;
  border-color: #0d6efd;
  background-color: #0d6efd !important;
}

.text-inv {
  color: #0d6efd;
}
.total {
  font-weight: bold;
  font-style: italic;
  color: #0d6efd;
}
/* .btn-ana {
  background-color: green !important;
}
.btn-ana:hover {
  color: white;
} */
